body {
    font-family: dubai, sans-serif;
    color: $off-white;
    background-color: $slate;
    overflow: hidden;
    scrollbar-color: $primary-green $hover;

    input {
        text-align: center;
        margin-bottom: 5px;
        font-size: 1.2rem;
        background-color: $dark-slate;
        border: 2px solid $mute-grey;
        color: $off-white;
        border-radius: 4px;
        outline: none;

        &::placeholder {
            color: $off-white;
        }

        &:focus {
            border: 2px solid $primary-green;
        }
    }

    .list-group ul {
        border-radius: 4px;
        margin-top: 15px;
        padding-left: 0;
    }

    .list-group-item {
        display: flex;
        justify-content: space-between;
        background-color: $dark-slate;

        &:hover:not(.message) {
            background-color: $hover;
        }
    }

    h3.column-header {
        margin-top: 15px;
    }

    .card, .player {
        background-color: $dark-slate;
        margin-top: 15px;
    }

    .card-subtitle {
        color: $mute-grey;
    }

    .text-muted {
        color: $mute-grey !important;
    }

    a.ui-button {
        color: $mute-grey;
        width: auto;

        &:hover {
            cursor: pointer;
            text-decoration: none;
        }
    }

    @include mobile-view {
        overflow: scroll;

        .list-group {
            margin-top: 5px;
            margin-bottom: 0;
        }
    }

    @include wide-view {
        overflow: scroll;
        overflow-x: hidden;
    }
}