body {
    font-family: dubai, sans-serif;
    color: $off-white;
    background-color: $slate;
    overflow: hidden;
    scrollbar-color: $primary-green $hover;

    .list-group ul {
        border-radius: 4px;
        margin-top: 15px;
    }

    .list-group-item {
        display: flex;
        justify-content: space-between;
        background-color: $dark-slate;

        &:hover:not(.message) {
            background-color: $hover;
        }
    }

    h3.column-header {
        margin-top: 15px;
    }

    .card, .player {
        background-color: $dark-slate;
        margin-top: 15px;
    }

    .card-subtitle {
        color: $mute-grey;
    }

    .text-muted {
        color: $mute-grey !important;
    }

    @include for-narrow-displays {
        overflow: scroll;

        .list-group ul {
            padding-left: 0;
        }

        .list-group {
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
}