body {
    font-family: dubai, sans-serif;
    overflow: hidden;

    @include for-narrow-displays {
        overflow: scroll;
    }

    .list-group-item {
        display: flex;
        justify-content: space-between;

        &:hover {
            background-color: lightgrey;
        }
    }
}