.room-info {
    margin: 30px auto 0 auto;
    width: 300px;
    text-align: center;

    h2 {
        margin: 0;
        font-size: 3rem;
    }
    
    p {
        font-style: italic;
        margin: 0;
    }
}