nav {
    background-color: $primary-green;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;

    span.spacer {
        font-weight: bold;
        color: $slate;
        font-size: 1.9rem;
    }

    .nav-link, .spacer {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav-link, .title {
        text-decoration: none;
        color: $slate;
        margin: 0 8px 0 8px;
        padding: 0 10px 0 10px;
        position: relative;
        z-index: 2;
    }

    .title {
        font-size: 2rem;
        width: auto;
    }

    a.nav-link {
        border: 3px solid transparent;
        font-size: 1.75rem;
        
        &:hover {
            border-bottom: 3px solid black;
        }
    }

    @include mobile-view {
        .nav-link, .spacer {
            display: none;
        }

        .title {
            text-align: center;
            margin: auto;
        }
    }
}