nav {
    background-color: $primary-green;
    padding: 10px 30px 10px 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-flow: column;
    height: auto;
    justify-content: center;

    span.spacer {
        font-weight: bold;
        color: $slate;
        font-size: 1.9rem;
    }

    .nav-link, .title {
        text-decoration: none;
        color: $slate;
        margin: 0 8px 0 8px;
        padding: 0 10px 0 10px;
        position: relative;
        z-index: 2;
    }

    .title {
        font-size: 2rem;
    }

    a.nav-link {
        border: 3px solid transparent;
        font-size: 1.75rem;
        
        &:hover {
            border-bottom: 3px solid black;
        }
    }

    @include for-narrow-displays {
        .nav-link, .spacer {
            display: none;
        }

        .title {
            text-align: center;
        }
    }
}