.now-playing {

  h3, p {
    margin: 0;
  }

  h6.album {
    margin-top: 2px;
  }

  .player {
    border-radius: 4px;
    background-color: $dark-slate;
    width: 100%;
  }

  .album-art {
    width: 150px;
    margin-bottom: 15px;
    border-radius: 10px;
  }

  // Custom styling for audio player
  .rhap_time, .rhap_volume-button {
    color: $mute-grey;
  }

  .rhap_main-controls-button {
    color: $primary-green;
  }

  .rhap_main-controls {
    margin-left: 72px;
  }

  .rhap_repeat-button {
    display: none;
  }

  .rhap_download-progress {
    background-color: $mute-grey;
  }

  .rhap_progress-filled, .rhap_volume-indicator {
    background-color: $primary-green;
  }

  .rhap_volume-bar {
    background-color: $secondary-green;
  }

  // removes previous track button
  div.rhap_main-controls button:nth-child(1), .rhap_progress-indicator {
    display: none;
  }

  .rhap_progress-container {
    cursor: default;
  }
}