.now-playing {
  margin-top: 45px;

  h3, p {
    margin: 0;
  }

  audio {
    display: inline-block;
    width: 80%;
    margin-top: 15px;
  }

  img.skip {
    display: inline-block;
    width: 1.3rem;
    margin-bottom: 30px;
    margin-left: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}