li.track {

  img { // add to queue button
    padding: 10px;
    width: 2.5rem;
    height: min-intrinsic;
    border-radius: 10px;

    &.button:hover {
      cursor: pointer;
      fill: red;
    }
  }
}