body {
    font-family: dubai, sans-serif;
    overflow: hidden;
    background-image: url('../../assets/images/satisfying-sand.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
}