.room-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include for-narrow-displays {
        grid-template-columns: 1fr;
    }
}

.room-details {
    margin: 30px auto 0 auto;
    text-align: center;

    h2 {
        margin: 0;
        font-size: 3rem;
    }

    p.info {
        font-style: italic;
        margin: 0;
    }
}